.paragraph {
	width: 75%;
	margin: auto;
	padding-top: 1rem;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.word {
	display: flex;
	flex-direction: row;

	font-family: "PT Mono", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: 18pt;
	font-weight: 500;
	color: var(--text-colour);

	line-height: 1.5;
}

.letter {
	width: 1rem;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-right: 2px;

	text-align: center;
}

.letter::selection {
	background-color: var(--selected-colour);
	color: white;
}

.current {
	color: var(--selected-colour);

	/* Counter space displaced by border */
	margin-bottom: -2px;

	border-bottom: solid 2px var(--selected-colour);
	border-radius: 5%;
}

.correct {
	color: var(--correct-colour);
	background-color: var(--correct-bg);
	border-radius: 5px;
}

.incorrect {
	color: var(--incorrect-colour);
	background-color: var(--incorrect-bg);
	border-radius: 5px;
}