@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
	--text-colour: #4a4a4a;
	--selected-colour: #3295db;
	--correct-colour: #6bcc60;
	--correct-bg: #edf7e7;
	--incorrect-colour: #ce3e44;
	--incorrect-bg: #fb978e;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

@keyframes fade-in-out {
	
}